{% extends 'base.html.twig' %}


{% block body %}

<div class="jumbotron">
    <div class="row">

          <div class="col-md-6">
              <h1 class="display-3">Retaška </h1>
              <p>Re-taška mění nakupování a chrání oceány.</p>
              <p><a class="btn btn-primary btn-lg" href="{{ path('product_index_index') }}" role="button">Zobrazit produkty »</a></p>
          </div>
          <div class="col-md-6">
              <img src="https://files.slack.com/files-pri/TDTQT517V-FEFPW9KCM/re-ta__ka_logo.png" width="400" height="170" alt="Computer Hope">
        </div>
     
     </div>
      
{% endblock %}
